<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница регистрации</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="username">Введите логин:</label>
            <input type="text" id="username" name="username" maxlength="30" required>
        </p>
        <p>
            <label for="password">Введите пароль:</label>
            <input type="text" id="password" name="password" minlength="8" required>
        </p>
        <p>
            <label for="repeat_password">Повторите ввод пароля:</label>
            <input type="text" id="repeat_password" name="repeat_password" minlength="8" required>
        </p>
        <p>
            <label for="age">Введите возраст:</label>
            <input type="text" id="age" name="age" maxlength="3">
        </p>
        <p>
            <button type="submit">Зарегистрировать</button>
        </p>
    </form>
</body>
</html>